<div class = "signup">
	<h3>Sign up for The Window Sill!</h3>
		<ul class ="plantDisplay">
			<li>Name: <input class="betterBox" ng-model = "newUser.name"></li><br/>
			<li>Email: <input class="betterBox" ng-model = "newUser.email"></li><br/>
			<li>Password: <input class="betterBox" ng-model = "newUser.password"></li><br/>
			<li>Phone Number: <input class="betterBox" ng-model = "newUser.phoneNum"></li>
		</ul>
		<button class ="remove" ng-click= "addNewUser()">Sign Up</button>
</div>
<IMG class = "foot" SRC="../images/bottom2.jpg" ALT="windowsillbottom" WIDTH=100% HEIGHT=auto>