<div class="head">
			<IMG SRC="../images/windowsillcat2.jpg" ALT="windowsillpic" WIDTH=700 HEIGHT=450>
			
			<H1 class="title">The Window Sill</H1>
		</div>



<div class="container2">
	<div class = "intro">
		<p>
		Life is hectic. You can't remember where you put your keys, much less when you last watered your pet Spider Plant, Truman. That's where we come in! Use The Window Sill app to create a plant inventory and we'll send you text message reminders to hydrate your shriveling plant buddies. Sign up and let's be green thumb chums!
		</p>
	</div>
	
	<div class= "whereto">
		<button class="windowbutton" ng-hide="isLoggedIn" ng-click="goLogin()">Login</button>
		<button class="windowbutton" ng-hide="toSignUp" ng-click="goSignUp()">Sign Up</button>
	</div>
</div>